<% @full_layout = true %>
<div id="forge"></div>

<script type="text/javascript">
  window.initialState = {
      layers: { layers: <%== MapOverlay.order(:position).where(active: true).to_json %> },
      buildingTypes: { types: <%== BuildingType.order(:name).to_json %> },
      buildings: { buildings: null },
      search: { params: <%== params.to_json %> }
  }
  window.googleApiKey = '<%== AppConfig.google_api_key %>'
  window.mapCenter = [<%= AppConfig.latitude %>, <%= AppConfig.longitude %>]
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= AppConfig.google_api_key -%>&libraries="></script>
<%= javascript_pack_tag 'forge' %>

