<div id="forge" ng-app="forge" ng-controller="MainCtrl" class="{{viewMode}}" ng-cloak>

  <%= render 'map' %>

  <div id="forge-right-col">
    <%= render 'form' %>
  </div>

  <%= render 'list' %>

</div>

<%= javascript_tag "window.buildingTypes = #{ BuildingType.order(:name).to_json };" %>
<%= javascript_tag "window.forgeSearchParams = #{params.to_json};" %>
<script src="https://maps.googleapis.com/maps/api/js?libraries="></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
<%= javascript_include_tag 'forge' %>

<%= render 'pagination_directive' %>
