<div class="panel panel-default">

  <div class="panel-heading">
    <a href="#metadata" data-toggle="collapse">Metadata</a>
  </div>
  <div class="collapse panel-body in" id="metadata">

  <% if @map.description.present? %>
  <p>
    <b>Description </b><br />
    <%= h @map.description %>
  </p>
  <% end %>
  <% if @map.date_depicted.present? %>
  <p>
    <b>Year Depicted </b><br />
    <%= h @map.date_depicted %>
  </p>
  <% end %>

  <% if @map.tags.count > 0 -%>
  <p>
    <b>Tags:</b><br>
    <% @map.tags.each do | tag | -%>
      <%= link_to tag.name, { :controller=> :maps, :action => :tag, :id => tag.name } %>
    <% end %>
  </p>
  <% end -%>
  <!-- <p>
    <%= @map.map_type.to_s %>

  </p> -->
  <% if @map.source_uri.present? %>
  <p>
    <b>Source/ Bibliographic Ref URL</b><br />
    <%= @map.source_uri %>
  </p>
  <% end %>

  <% if @map.publisher.present? %>
  <p>
    <b>Publisher</b><br />
    <%= @map.publisher %>
  </p>
  <% end %>

  <% if @map.publication_place.present? %>
  <p>
    <b>Place of Publication</b><br />
    <%= @map.publication_place %>
  </p>
  <% end %>

  <% if @map.authors.present? %>
  <p>
    <b>Author(s)</b><br />
    <%= @map.authors %>
  </p>
  <% end %>

  <% if @map.scale.present? %>
  <p>
    <b>Scale</b><br />
    <%= @map.scale %>
  </p>
  <% end %>

  <% if @map.published_date.present? %>
  <p>
    <b>Published Date</b><br />
    <%= @map.published_date %>
  </p>
  <% end %>

  <% if @map.reprint_date.present? %>
  <p>
    <b>Reprint Date<br />
      <%= @map.reprint_date %>
  </p>
  <% end %>

</div>
</div>
