<% if can?(:update, @user) %>
<div class="float-right">
  <%= link_to 'Edit', edit_user_path(@user), class: 'btn btn-sm btn-light' %>
  <%= link_to 'Impersonate', mask_user_path(@user), class: 'btn btn-sm btn-light' %>
</div>
<% end %>
<h1>
  <%= h @user.name %>
</h1>
<div class="card card-default">
  <div class="card-body">
    <dl>
      <dt>
        Created on
      </dt>
      <dd>
        <%= @user.created_at.to_s(:long) %>
      </dd>
    </dl>
    <%= render :partial => 'users/admin_tools', :object => @user %>
  </div>
</div>

