<% if can?(:update, @user) %>
<div class="pull-right">
  <%= link_to 'Edit', edit_user_path(@user), class: 'btn btn-sm btn-default' %>
  <%= link_to 'Impersonate', mask_user_path(@user), class: 'btn btn-sm btn-default' %>
  <%=link_to 'User activity', user_activity_url(:id=>@user.id), class: 'btn btn-sm btn-default' %>
</div>
<% end %>
<h1>
  <%= h @user.name %>
</h1>
<div class="panel panel-default">
  <div class="panel-body">
    <dl>
      <dt>
        Created on
      </dt>
      <dd>
        <%= @user.created_at.to_s(:long) %>
      </dd>
    </dl>
    <%= render :partial => 'users/admin_tools', :object => @user %>
  </div>
</div>

<div class="pull-right">
  <%= paginate @mymaps %>
</div>
<h3>User Maps</h3>

<table id="map_table" class="table table-striped">
  <thead>
    <tr>
      <th>Map</th>
      <th>Title</th>
      <th>Last modified</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody id="results">
    <%= render :partial => 'maps/map', :collection =>  @mymaps unless @mymaps.nil? %>
  </tbody>
</table>
