<% if can?(:update, @user) %>
<div class="pull-right">
  <%= link_to 'Edit', edit_user_path(@user), class: 'btn btn-sm btn-default' %>
  <%= link_to 'Impersonate', mask_user_path(@user), class: 'btn btn-sm btn-default' %>
</div>
<% end %>
<h2>User: <%=h @user.login %></h2>
<p>Joined on: <%= @user.created_at.to_s(:long) %></p>
<h3>Profile Description:</h3>
<p><%= (h @user.description).gsub("\n","<br/>") %></p>
<p><%=link_to 'User activity', user_activity_url(:id=>@user.id) %></p>
<%= render :partial => 'users/admin_tools', :object => @user %>
<h3>User Maps</h3>

<div id = "usermaps">
  <%=will_paginate @mymaps %>
  <table id="map_table" class="table table-striped">
    <thead>
      <tr>
        <th>Map</th>
        <th>Title</th>
        <th>Last modified</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody id="results">
      <%= render :partial => 'maps/map', :collection =>  @mymaps unless @mymaps.nil? %>
    </tbody>
  </table>
  <%= will_paginate @mymaps %>
</div>
