<div id="container">
  <h1>HistoryForge Ithaca</h1>

  <h2>Census Records</h2>

  <div class="row">
    <div class="col-sm-6">
      <h3>Added in past 90 days</h3>
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Year</th>
          <th>Total</th>
          <th>Reviewed</th>
        </tr>
        </thead>
        <tbody>
        <% @recent_census_summaries.each do |row| %>
          <tr>
            <th><%= row[:year] %></th>
            <th><%= number_with_delimiter row[:total] %></th>
            <th><%= number_with_delimiter row[:reviewed] %></th>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-sm-6">
      <h3>Overall</h3>
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Year</th>
          <th>Total</th>
          <th>Reviewed</th>
        </tr>
        </thead>
        <tbody>
        <% @census_summaries.each do |row| %>
          <tr>
            <th><%= row[:year] %></th>
            <th><%= number_with_delimiter row[:total] %></th>
            <th><%= number_with_delimiter row[:reviewed] %></th>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <h2>Data Entry Heroes</h2>
  <div class="row">
    <div class="col-sm-6">
      <h3>Recent - Past 90 days</h3>
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Name</th>
          <th>Total Census Records</th>
        </tr>
        </thead>
        <tbody>
        <% @recent_heroes.each do |row| %>
          <tr>
            <th><%= row.login %></th>
            <td><%= number_with_delimiter row.total %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>

    <div class="col-sm-6">
      <h3>All-Time</h3>
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Name</th>
          <th>Total Census Records</th>
        </tr>
        </thead>
        <tbody>
        <% @overall_heroes.each do |row| %>
          <tr>
            <th><%= row.login %></th>
            <td><%= number_with_delimiter row.total %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>

    <div id="map_list">
      <% if @my_maps -%>
        <h3>My Maps</h3>
        <table class="table table-condensed table-striped">
          <thead>
            <tr>
              <th>Map</th>
              <th>Title</th>
              <th>Last modified</th>
              <th>Status</th>
            </tr>
          </thead>
          <%= render :partial => 'maps/map', :collection => @my_maps  unless @my_maps.nil? %>
        </table>
        <%= link_to "See all of My Maps", my_maps_path(:user_id => current_user), :class => "btn btn-default" -%>
        <%= link_to("Upload a new map", new_map_path, :class => "btn btn-default") if can?(:create, Map)%>

      <%end -%>

      <br/>

      <% if @maps.present? %>

      <h3>Last Rectified Maps</h3>

      <table class="table table-striped table-condensed">
        <thead>
          <tr>
            <th>Map</th>
            <th>Title</th>
            <th>Last modified</th>
            <th>Status</th>
          </tr>
        </thead>
        <%= render :partial => 'maps/map', :collection => @maps unless @maps.nil? %>
      </table>

      <%= link_to 'See all Maps', maps_path, :class => "btn btn-default" %>
      <%= link_to("Upload a new map", new_map_path, :class => "btn btn-default") if can?(:create, Map)%>
      <% end %>
    </div>

    <% if @layers.present? %>
    <div id="layer_list">

      <h3>Recent Map Layers</h3>
      <table class="table table-striped table-condensed">
        <thead>
          <tr>
            <th>Layer</th>
            <th class="widthTh">Title</th>
            <th>Year</th>
            <th>Number of Maps</th>
            <th>Percentage Complete</th>
          </tr>
        </thead>
        <%= render :partial => 'layers/layer', :collection => @layers unless @layers.nil? %>
      </table>
      <%= link_to "View all map layers", layers_path, :class => "btn btn-default" %>
      <%= link_to("Create a new map layer", new_layer_path, :class => "btn btn-default") if can?(:create, Layer)%>
    </div>
    <% end %>

  </div>
  <div class="clear"></div>
</div>
