<script type="text/javascript">
  jQuery(document).ready(function() {
    jQuery("form.edit_layer").bind("ajax:success", function(event, data, status, xhr) {
      console.log(1)
      jQuery("#Edit").html(data);
    });
  });
</script>
<%= simple_form_for(@layer, :remote=>true) do |f| %>

  <div class="col-xs-4">
    <%= render 'fields', form: f %>
    <%= f.submit((defined?(page) && page =~ /new/) ? "Create" : "Update", class: 'btn btn-lg btn-primary' )%>
  </div>
  <div class="col-xs-7 col-xs-offset-1">
    <h3>Choose from "My Maps"</h3>

    <% if @maps.length == 0 %>
      <p>You have no warped <%= link_to "maps", my_maps_path(current_user) %> </p>
    <% else %>
      <table class="table table-striped table-condensed">
        <% @maps.each do |map|%>
          <tr>
            <% cl = cycle('table0', 'table1') %>
            <td class="<%= cl %>">
              <input type="checkbox" name="map_ids[]" id="<%= map.id%>" value="<%=map.id%>" <%- if @layer.maps.include? map
                       -%> checked="checked"<%-end-%> />
            </td>
            <td class="<%= cl %>">
              <label for ="<%= map.id%>">
                <%=  image_tag(map.upload.url(:thumb)) -%>
                <%=  h(map.title) -%>
              </label>
            </td>
            <td class="<%= cl %>">
              <%= link_to("detail", map_path(map)) -%>
            </td>
          </tr>
        <% end %>
      </table>
      <p><%= link_to "View All 'My Maps'", my_maps_path(current_user) %> </p>
    <% end %>
  </div>

  <%end%>
</div>
<div class="clear"></div>
